<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

	    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>



        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<!--{ % assets "less_bundle" % }
		    <link rel="stylesheet" type="text/css" href="{ { ASSET_URL } }">
		{ % endassets %}
		
	    { % assets "modernizr_indiv" % }
	        <script type="text/javascript" src="{ { ASSET_URL } }"></script>
	    { % endassets % }-->
				
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
		<div class="main">

			<h1>Most Internet-connected Coffee Maker</h1>
			<h2>RFC 2324 Hyper Text Coffee Pot Control Protocol Compliance Demo</h2>
			<img src="{{ url_for('static', filename='img/logo.png') }}" width="320" />

			<table width="100%" cellpadding="5" cellspacing="5" border="1" class="controls">
				<tr>
					<th>Power</th>
					<td id="power"></td>
					<td id="power-set">
						<button data-value="" id="power-set-button" value="" />
					</td>
			
				</tr>
				<tr>
					<th>Brew</th>
					<td id="brew"></td>
					<td id="brew-set">
						<button data-value="Light" id="brew-set-button-light" >Set Brew Light</button>
						<button data-value="Medium" id="brew-set-button-medium">Set Brew Medium</button>
						<button data-value="Strong" id="brew-set-button-strong">Set Brew Strong</button>

					</td>
			
				</tr>
			</table>


			<footer>lower potrero media lab</footer>
			{% block body %}{% endblock %}
		</div>
		
	    <!--{ % assets "require_indiv" % }
	        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
	    { % endassets % } -->
		{% block script %}{% endblock %}
		
		
	    <script>
		
		function showPowerState(powerState) {
			
			
			//console.log('here', powerState)
			
			if (powerState == 'On') {
				$('#power').html('On').addClass('on');
				$('#power-set-button').html("Turn Coffee Machine Off");
				$('#power-set-button').data('value', 'Off');
				
			} else {
				$('#power').html('Off').removeClass('on');
				$('#power-set-button').html("Turn Coffee Machine On");
				$('#power-set-button').data('value', 'On');
				
			}
			
		}
		
		function showBrewState(brewState) {
			
			
			//console.log('here', powerState)
			
			if (brewState == 'Light') {
				$('#brew').html('Light').addClass('light').removeClass('medium').removeClass('strong');
				//$('#power-set-button').html("Turn Coffee Machine Off");
				//$('#power-set-button').data('value', 'Off');
				
			} else if (brewState == "Medium") {
				$('#brew').html('Medium').addClass('medium').removeClass('light').removeClass('strong');				//$('#power-set-button').html("Turn Coffee Machine On");
				//$('#power-set-button').data('value', 'On');
				
			} else if (brewState == 'Strong') {
				$('#brew').html('Strong').addClass('strong').removeClass('light').removeClass('medium');		
			}
			
			
		}
		
		$(function() {

			
			$('#brew-set button').on('click', function(e) {
				
				$.ajax({
				  url: "/api/state/?brew="+$(this).data('value'),
				  context: document.body
				}).done(function(data) {
					if (data['data']['success'] == 'success') {
						showBrewState(data['data']['brew']);
					}					
				});
				
			});
			
			$('#power-set-button').on('click', function(e) {
				
				//console.log($(this).data('value'));

				$.ajax({
				  url: "/api/state/?power="+$(this).data('value'),
				  context: document.body
				}).done(function(data) {
					if (data['data']['success'] == 'success') {
						showPowerState(data['data']['power']);
					}					
				});

				
			});


			setInterval(function(){ 
			
				$.ajax({
				  url: "/api/state/",
				  context: document.body
				}).done(function(data) {
					
					if (data) {
						showPowerState(data['data']['power']);
						showBrewState(data['data']['brew']);
					}
					
					//console.log(data)
				});
			
			}, 1000);
			
			

		});
		
		</script>
		
    </body>
</html>
